h1 {
        
       font-family: "Helvetica", sans-serif;
       font-size: 25px;
        
     position: sticky;
     border: 3px 
        
       
   }  
	
    p {
    	margin-top: 50px;
    	margin-bottom: 50px;
    	margin-right: 150px;
    	margin-left: 80px;
        
        font-kerning: 3px;
    	font-family: "Helvetica", sans-serif;
    	font-size: 14px
        

}
p {
     div.sticky [
     position: sticky;
     border: 3px 
}


