h1{
       font-family: "Garamond",serif ;
       font-size: 50px;
       border: 3px 
 }


p {
	letter-spacing:15px;
   	font-family: "Helvetica", sans-serif;
   	font-size: 18px;
}

.oops{
	position:relative;
	margin-left:150px;
}

.two{
	position:relative;
	margin-left:150px;

}

.three{
	position:relative;
	margin-left:250px;
}

.four{
	position:relative;
	margin-left:250px;
}

.five{
	position:relative;
	margin-left:350px;
}

.six{
	position:relative;
	margin-left:350px;
}

.seven{
	position:relative;
	left:450px;
}

.eight{
	position:relative;
	left:450px;
}

.nine{
	position:relative;
	left:550px;
}

.ten{
	position:relative;
	left:550px;
}

.eleven{
	position:relative;
	left:650px;
}

.twelve{
	position:relative;
	left:650px;
}

.thirteen{
	position:relative;
	left:750px;
}

.fourteen{
	position:relative;
	left:750px;
}

.fifteen{
	position:relative;
	left:850px;
}

.sixteen{
	position:relative;
	left:850px;
}


