p{
	position: absolute
	top: 50px;
}


.oops {
	position:relative;
	left: :150px;
}
}

.one{
	position:relative;
	left: :150px;
}

.two{
	position:relative;
	left:150px;

}

.three{
	position:relative;
	left:200px;
}

.four{
	position:relative;
	left:200px;
}

.five{
	position:relative;
	left:250px;
}

.six{
	position:relative;
	left:250px;
}

.seven{
	position:relative;
	left:300px;
}

.eight{
	position:relative;
	left:300px;
}

.nine{
	position:relative;
	left:350px;
}

.ten{
	position:relative;
	left:350px;
}

.eleven{
	position:relative;
	left:400px;
}

.twelve{
	position:relative;
	left:400px;
}

.thirteen{
	position:relative;
	left:450px;
}

.fourteen{
	position:relative;
	left:450px;
}

.fifteen{
	position:relative;
	left:500px;
}

.sixteen{
	position:relative;
	left:500px;
}




