h1 {
        
       font-family: "Myriad Pro", sans-serif;
        position: static;
       
   }  
	
    p {
    	margin-top: 100px;
    	margin-bottom: 100px;
    	margin-right: 150px;
    	margin-left: 80px;

    	font-family: "Myriad Pro", sans-serif;
    	font-size: 20px

}


