p{
	position: absolute
	top: 50px;
}

.oops{
	position:relative;
	left:500px;
}


.one{
	position:relative;
	left:500px;
}

.two{
	position:relative;
	left:500px;

}

.three{
	position:relative;
	left:500px;
}

.four{
	position:relative;
	left:500px;
}

.five{
	position:relative;
	left:500px;
}

.six{
	position:relative;
	left:500px;
}

.seven{
	position:relative;
	left:500px;
}

.eight{
	position:relative;
	left:500px;
}

.nine{
	position:relative;
	left:500px;
}

.ten{
	position:relative;
	left:500px;
}

.eleven{
	position:relative;
	left:500px;
}

.twelve{
	position:relative;
	left:500px;
}

.thirteen{
	position:relative;
	left:500px;
}

.fourteen{
	position:relative;
	left:500px;
}

.fifteen{
	position:relative;
	left:500px;
}

.sixteen{
	position:relative;
	left:500px;
}