
h1 {
        
       font-family: "Garamond", serif;
       font-size: 50px;
        
     position: sticky;
     border: 3px 
        
       
   }  
	
    p {
    	margin-top: 50px;
    	margin-bottom: 50px;
    	margin-right: 150px;
    	margin-left: 80px;
        
        letter-spacing:40px;
    	font-family: "Garamond", serif;
    	font-size: 80px
        

}
p {
     div.sticky [
     position: sticky;
     border: 3px 
}

div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px; 