p{
	position: relative;
	top: 20px;
}

.one{
	position:relative;
	left:150px;
}

.two{
	position:relative;
	left:200px;

}

.three{
	position:relative;
	left:250px;
}

.four{
	position:relative;
	left:300px;
}

.five{
	position:relative;
	left:350px;
}

.six{
	position:relative;
	left:400px;
}

.seven{
	position:relative;
	left:900px;
}

.eight{
	position:relative;
	left:850px;
}

.nine{
	position:relative;
	left:800px;
}

.ten{
	position:relative;
	left:750px;
}

.eleven{
	position:relative;
	left:700px;
}

.twelve{
	position:relative;
	left:650px;
}

.thirteen{
	position:relative;
	left:600px;
}

.fourteen{
	position:relative;
	left:550px;
}

.fifteen{
	position:relative;
	left:500px;
}

.sixteen{
	position:relative;
	left:450px;
}




